<% provide(:title, "Source #{@source.name}") %>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name:</th>
    <td><%= @source.name %></td>
  </tr>
  <tr>
    <th>URL:</th>
    <td><%= @source.url %></td>
  </tr>
  <tr>
    <th>Part:</th>
    <td>
      <% if defined? @source.part and not @source.part.nil? %>
        <%= link_to @source.part.name, @source.part %>
      <% else %>
        This source doesn't belong to any part.
      <% end %>
    </td>
  </tr>
</table>

<br>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
