<% provide(:title, "Source #{@source.name}") %>

<p id="notice"><%= notice %></p>

<div class="properties">
  <div class="property">
    <span class="title">Name</span>
    <%= @source.name %>
  </div>
  
  <div class="property">
    <span class="title">URL</span>
    <%= @source.url %>
  </div>
  
  <div class="property">
    <span class="title">Part</span>
    <% if defined? @source.part and not @source.part.nil? %>
      <%= link_to @source.part.name, @source.part %>
      ( <%= @source.part.amount %> parts in your inventory )
    <% else %>
      This source doesn't belong to any part.
    <% end %>
  </div>
</div>

<%= link_to 'Back', sources_path, class: "button" %>
<%= link_to 'Edit', edit_source_path(@source), class: "button" %>
