<%= form_for(@part) do |f| %>
  <%= save_errors @part %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>
  
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  
  <%= f.label :category_id %>
  <%= f.select :category_id, categories_list, selected: @category_id %>
  
  <%= f.label :sources %>
  <div id="sources">
    <% @part.sources.each do |source| %>
    <div class="source">
      <%= source.name %>
      <span class="actions">
        <%= link_to 'Edit', edit_source_path(source) %>
        <%= link_to 'Delete', source, method: 'delete', confirm: 'Are you sure?' %>
      </span>
    </div>
    <% end %>
    
    <% if @part.sources.count == 0 %>
      There are currently no sources listed.<br>
    <% end %>
    
    <div class="general_buttons">
      <%= link_to "Select", "javascript:alert('not yet implemented');" %>
      <%= link_to "Create", "/parts/#{@part.id}/sources/new" %>
    </div>
  </div>
  
  <%= f.submit %>
<% end %>
