<div id="sources">
  <% @part.sources.each do |source| %>
  <div class="source">
    <%= source.name %>
    <span class="actions">
      <%= link_to 'Edit', edit_source_path(source) %>
      <%= link_to 'Delete', source, method: 'delete', confirm: 'Are you sure?' %>
    </span>
  </div>
  <% end %>
  
  <% if not defined? @part.sources or @part.sources.nil? or @part.sources.size == 0 %>
    There are currently no sources listed.<br>
  <% end %>
  
  <div class="general_buttons">
    <%= link_to "Select", "javascript:alert('not yet implemented');" %>
    
    <% if @part.id %>
      <%= link_to "Create", "/parts/#{@part.id}/sources/new/?layout=popup", "data-popup" => true %>
    <% else %>
      It currently isn't possible to add sources to a uncreated part.
    <% end %>
  </div>
</div>