<% provide(:title, @part.name.capitalize) %>

<p>
  <b>Description:</b>
  <%= @part.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @part.amount %>
</p>

<p>
  <b>Category:</b>
  <%= link_to @part.category.name, @part.category %>
</p>

<p>
  <b>Sources:</b>
  <ul>
  <% @part.sources.each do |source| %>
    <li><%= source.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
