<% provide(:title, @part.name.capitalize) %>

<%= property "Description", @part.description %>
<%= property "Amount", @part.amount %>
<%= property "Category", link_to(@part.category.name, @part.category) %>

<div class='property'>
  <span class='title'>Sources</span>
  <span class='description'>
    <ul>
    <% @part.sources.each do |source| %>
      <li><%= source.name %></li>
    <% end %>
    </ul>
  </span>
</div>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
