<% provide(:title, @part.name.capitalize) %>

<div class='property'>
  <span class="title">Description</span>
  <%= htmlize_string @part.description %>
</div>

<div class='property'>
  <span class="title">Amount</span>
  <%= @part.amount %>
  
  <!--
  <div class='actions'>
  <%= link_to "Increase", "#", class: "button" %>
  <%= link_to "Decrease", "#", class: "button" %>
  </div>
  -->
</div>

<div class="property">
  <span class="title">Category</span>
  <%= link_to @part.category.name, @part.category %>
</div>

<div class='property'>
  <span class='title'>Sources</span>
  <ul>
  <% @part.sources.each do |source| %>
    <li><%= link_to source.name, source %></li>
  <% end %>
  </ul>
  
  <div class='actions'>
    <%= link_to "Select existing", "#", class: "button" %>
    <%= link_to "Create new", "/parts/#{@part.id}/sources/new", class: "button" %>
  </div>
</div>

<%= link_to 'Back', parts_path, class: "button" %>
<%= link_to 'Edit', edit_part_path(@part), class: "button" %>
<%= link_to 'Delete', @part, confirm: "Are you sure?", method: "delete", class: "button" %>
