<% provide(:title, @part.name.capitalize) %>

<div class='property'>
  <span class="title">Description</span>
  <%= htmlize_string @part.description %>
</div>

<div class='property'>
  <span class="title">Amount</span>
  <%= @part.amount %>
</div>

<div class="property">
  <span class="title">Category</span>
  <% if not @part.category.nil? %>
    <%= link_to @part.category.name, @part.category %>
  <% else %>
    The category for this part weren't found.
  <% end %>
</div>

<div class='property'>
  <span class='title'>Sources</span>
  <%= render 'parts/sources' %>
</div>

<%= link_to 'Back', parts_path, class: "button" %>
<%= link_to 'Edit', edit_part_path(@part), class: "button" %>
<%= link_to 'Delete', @part, confirm: "Are you sure?", method: "delete", class: "button" %>
