<% provide(:title, "All Categories") %>

<ol id="categories">
  <% @categories.each do |category| %>
    <li onclick="redirectTo('<%= category_url category %>')">
      <div>
        <span class="category_title">
          <%= category.name %>
        </span>
        <br>
        <span class="category_description">
          <%= category.description %>
        </span>
      </div>
    </li>
  <% end %>
  
  <li onclick="redirectTo('<%= new_category_url %>')">
    <div>
      <%= image_tag "add-category.png" %>
    </div>
  </li>
</ol>